html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
}

/* Globales */
img{
    max-width: 50%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
h1{
    font-size: 9rem;
    color: #FFFFFF;
    background: rgba(39,39,39,.6);
}
h2{
    font-size: 3.4rem;
    color: #333333;
    font-weight: 500;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
a{
    text-decoration: none;
}
p{
    font-size: 2.4rem;
}
/**Utilidades**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.no-margin{
    margin: 0;
}
/** Botones **/
.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}
/*Header Inicio*/
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__texto{
    text-align: center;
    color:#333333;
    font-size: 4.3rem;
    margin-top: 5rem;
}
@media (min-width: 768px){
    .header__texto{
        margin-bottom: 45rem;
    }
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem 0; 
}
.barra img{
    max-width: 20%;
}
.barra span{
    font-weight: 900;
}
/** Navegación **/
.navegacion a {
    color:darkseagreen;
    text-decoration: none;
    font-size: 2.8rem;
    margin-right: 2rem;
}
.navegacion a:hover{
    color: #71B100;
}
/**Opciones de Operación**/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: calc(50% - 1rem);
    text-align: center;
    line-height: 2;

}

.icono p{
    color: #000000;
    background: rgba(39,39,39,.05);
}

.icono h3{
    text-transform: uppercase;
}
/** Anuncios **/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anuncio {
    flex-shrink: 0;
    flex-basis: calc(50% - 1rem);
    border: 3px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}
.contenido-anuncio{
    padding: 1.5rem;
}
.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}
.contenido-anuncio p{
    font-size: 1.4rem;
}
/** Footer **/
.site-footer{
    background-color: #333333;
    margin: 0;
}
.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copyright{
    margin: 0;
    color: white;
}
